/* login page css */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.c-btn {
  padding: 10px 34px;
}

/* navbar css */

@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

body {
  background-color: #eee;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  color: #fff;
}

.navbar-toggler {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
}

.nav-link {
  color: #fff !important;
}

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all;
}

.navbar-brand {
  color: #fff;
  font-family: "Allerta Stencil", sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper {
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-red {
  background-color: rgb(68, 120, 240);
  color: #fff;
}

.all-show {
  z-index: 10;
}

.searchbox {
  width: 30px;
  height: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  border-radius: 7px;
  transition: width 0.4s ease-in-out;
  /* background-color: rgb(68, 120, 240); */
}

.searchbox:focus {
  width: 85%;
  height: 25px;
  padding: 2px 15px;
  border: 0px solid white;
  border-radius: 2px;
}

.calcc {
  height: calc(100% - 82px);
}

.carousel-inner {
  object-fit: fill;
}

.hr-tag {
  width: 60px;
  background-color: rgb(68, 120, 240);
  height: 2px;
}
.footer-color {
  background-color: "rgba(0, 0, 0, 0.2)";
}
.theme-black-footer {
  background-color: #1c2331;
}

.theme-blue-footer {
  background-color: rgb(68, 120, 240);
}

.footer-link p a {
  text-decoration: none;
}

/* 404 page */
.bg1 {
  background-color: #2f3242;
  width: 100%;
  height: 100vh;
}
.svg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: rgb(68, 120, 240);
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: 0.2s;
}
#Polygon-3 {
  animation-delay: 0.4s;
}
#Polygon-4 {
  animation-delay: 0.6s;
}
#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  /* svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  } */
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

/* login page */

button.btn.btn-show-eye {
  color: grey;
  font-size: 22px;
  padding-bottom: 7px;
  border: 1px solid lightgrey;
}

.h-45 {
  height: 45px;
}

.hvh-80 {
  height: 80vh;
}
.hvh-100 {
  height: 100vh;
}

.form-control:focus {
  background-color: none;
  outline: 0;
  box-shadow: none !important;
}
.loader-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 82%);
  z-index: 9999;
  position: fixed;
  top: 0;
}

.h-250 {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.row.width-30 {
  width: 30% !important;
}
.text-area {
  resize: none;
  height: 100px;
}
.cart_image {
  width: 400px;
  height: 400px;
}
.EmptyCart_image {
  width: 130px;
  height: 130px;
}
.btn_color {
  color: blue;
}

/* cart design */

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgb(68 120 240)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ffffff, rgb(68 120 240));
}

.cart_background {
  background-color: rgba(106, 17, 203, 1);
}
.cart_maxwidth {
  max-width: 300px;
}
.cart_width {
  width: 45px;
}
.cart_img-height {
  height: 150px;
}
.product-img {
  padding: 20px;
  height: 380px;
}
.product-body {
  height: 500%;
}
.product_w {
  width: 60px;
}
a.text-dark {
  text-decoration: none;
}

.product_shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cart1 {
  position: relative;
  display: block;
  width: 39px;
  height: 28px;
  height: auto;
  overflow: hidden;
}
.cart1 .fa-shopping-cart {
  position: relative;
  top: 0px;
  z-index: 1;
  font-size: 24px;
  color: white;
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
/* About page css--------------------------------- */
a:active {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 12px 0;
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #00aeef;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: calc(1.275rem + 1.5vw);
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec-title h2:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #d1d2d6;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  /* color: #848484; */
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2 {
  color: #ffffff;
}

.sec-title.text-center h2:before {
  left: 50%;
  margin-left: -25px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list-style-one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #ff2222;
  font-weight: 600;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.6;
  font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
  color: #44bce2;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 0.02em;
  background-color: rgb(68, 120, 240);
}

.btn-style-one:hover {
  background-color: #0794c9;
  color: #ffffff;
}
.about-section {
  position: relative;
  padding: 120px 0 70px;
}

.about-section .sec-title {
  margin-bottom: 45px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-left: 30px;
}

.about-section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  /* color: #848484; */
  font-weight: 400;
}

.about-section .list-style-one {
  margin-bottom: 45px;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 50px;
}

.about-section .image-column {
  position: relative;
}

.about-section .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #ffffff;
  margin-top: -175px;
  font-weight: 500;
}

.about-section .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background: #416ed796;
  padding: 10px 15px;
  left: 96px;
  width: calc(100% - 152px);
  border-radius: 50px;
}
.about-section .image-column .inner-column .author-desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.about-section .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}
.about-section .image-column .inner-column:before {
  content: "";
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 44px solid rgb(68, 120, 240);
}

.about-section .image-column .image-1 {
  position: relative;
}
.about-section .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.card {
  border: 1px solid #cccccc !important;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: -2px 2px 14px 9px rgba(38, 38, 38, 0.2);
  /* top: -4px; */
  border: 1px solid #cccccc !important;

  background-color: white;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card_width {
  width: 400px;
}

/* profile */

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/* profile image */

.service {
  margin: 8px;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  /* top: 200px; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-box-front {
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

.flip-box-front img {
  width: 100%;
}

.flip-box-back {
  background-color: #ffffff;
  color: #ffffff;
  transform: rotateY(180deg);
  padding: 16px;
  background-color: grey;
  height: 300px;
}

.h-80vh {
  height: 80vh;
}

/* navbar before after */

.nav-link {
  /* font-weight: bold; */
  /* font-size: 14px; */
  text-decoration: none;
  color: #ffffff;
  padding: 20px 0px;
  /* margin: 0px 20px; */
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 8px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 80%;
  top: 121%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 8px;
}

.nav-link-grow-up:active::before {
  height: 8px;
}

.nav-link .active::before {
  height: 8px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

/* reset pwd------------ */
.otp-input-field input {
  width: 50px;
  height: 50px;
  border-radius: 2.2px;
  background: #e5e9ed;
  margin: 5px;
  text-align: center;
  border: 0.55px solid rgba(208, 208, 208, 0.5) !important;
}

.otp-input-field input:focus-visible {
  border: 0.55px solid rgba(208, 208, 208, 0.5) !important;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.adjust {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.max-width_img {
  max-width: 200px;
}
.text {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 26px;
  /* color: #848484; */
  font-weight: 400;
}

@media (max-width: 992px) {
  .row.justify-content-center.align-items-center.h-80vh {
    height: 60vh;
  }
}
.green {
  color: rgb(27, 201, 27);
}

.btn-total {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btn--doar {
  color: #fff;
  padding-right: 0;
  background-color: #0d6efd;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  cursor: pointer;
}

.btn--doar:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
}

.btn--doar:after {
  content: "\f07a";
  color: #ffff;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;
}

.btn--doar:hover:after {
  margin: -5px 15px;
  right: 0px;
}

/* ------------------------------------------- */

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  top: -46px;
  right: 0;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  position: relative;
  height: 165px;
  width: 165px;
}

.profile-pic:hover label {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic .-label span {
  display: inline-flex;
  height: 2em;
}
.toggle_class {
  background-color: var(--bs-btn-hover-bg);
}

/* cart data confirm  */

.model_wapper {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(0 0 0 / 82%);
}

.modal_container {
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  background-color: #ffffff;
  margin: 20px;
  border: 3px solid transparent;
  border-radius: 5px;
  width: 400px;
}

.wrapper-order {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.green {
  color: rgb(27, 201, 27);
}

/* payament */

.paymentContainer {
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
  height: 65vh;
  margin: 2vmax;
}

.paymentForm {
  width: 22%;
  height: 100%;
}

.paymentForm > p {
  font: 400 2vmax "Roboto";
  color: rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1vmax 0;
  text-align: center;
  width: 50%;
  margin: auto;
}

.paymentForm > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}

.paymentForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.paymentFormBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .paymentForm {
    width: 90%;
  }

  .paymentForm > p {
    font: 400 8vw "Roboto";
    padding: 4vw 0;
    width: 60%;
  }

  .paymentForm > div {
    margin: 10vw 0;
  }

  .paymentInput {
    padding: 4vw 10vw;
  }

  .paymentForm > div > svg {
    font-size: 6vw;
  }

  .paymentFormBtn {
    font: 300 4vw "Roboto";
    padding: 4vw;
  }
}
